body{
	padding: 40px;
}
p{
	background-color: #549BFC;
	color: white;
	padding: 5px;
	
}
.clase
{
	background-color: #F3A9ED;
	color: white;
	border-radius: 20px;
	border-bottom: 5px solid #F84097;
	padding-left: 50px;
	font-size: 50px
}